html{font-size:12px; height:100%;}/*2018-5-13改*/
body{margin:0;padding:0;color:#000;font-size:1.2rem;font-family:"微软雅黑",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;-webkit-font-smoothing:antialiased;background:#f0f0f0;height:100%;box-sizing: border-box;}/*2018-5-13改*/
*{flex:none;}/*2018-5-13改*/
input,select{font-family:Microsoft YaHei,Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial}
h4,h3{margin:0;padding:0;}
a{-webkit-tap-highlight-color:rgba(0,0,0,0);text-decoration:none;color:#555;outline:0}
.relative{position:relative}
.absolute{position:absolute}
.left{float:left}
.right{float:right}
.f12{font-size:12px!important}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
p,a,img,td,tr,ul,li,h2,span,input{margin:0;padding:0;}
* html .clearfix{height:1%}
input,button,select,textarea{outline:0 none;border:none;}
.row{overflow:hidden;}
a,strong,span,em{font-style:normal;}
input[type=button], input[type=submit], input[type=file], button {cursor: pointer;-webkit-appearance:none; }
input::-webkit-input-placeholder{color:#9a9a9a;font-size:1.2rem;}
input::-moz-placeholder{color:#9a9a9a;font-size:1.2rem;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-13,.col_xs_jk{float:left;}
	.col-xs-1{width:8.33%;}
	.col-xs-2{width:16.66%;}
	.col-xs-3{width:24.99%;}
	.col-xs-4{width:33.32%;}
	.col-xs-5{width:41.65%;}
	.col-xs-6{width:49.5%;}
	.col-xs-7{width:58.31%;}
	.col-xs-8{width:68.64%;}
	.col-xs-9{width:74.97%;}
	.col-xs-10{width:83.3%;}
	.col-xs-11{width:91.63%;}
	.col-xs-12{width:99.96%;}
	ul,li{ list-style:none}
	.clearfix{display:block}
	.img-responsive{width:100%;margin:auto;display:block;}
	.container{max-width:720px;margin:auto;height:100%;display: flex;flex-direction: column;} /*2018-5-13改*/
	.md{text-align:center;}
	.trg{text-align:right;}
    i{font-style:normal;}
    textarea::-moz-placeholder{color:#858585;}
    textarea::-webkit-input-placeholder{color:#858585;}
/* 头部*/
.headtop-bg{/*background:#ffde2b;*/height:4.5rem;width:92%;padding:0 4%;position:fixed;left:0;top:0;z-index: 1;}
.headtop{position:relative;line-height:4.5rem;font-size:1.5rem;text-align:center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.headtop a{position:absolute;top:0;left:0%;}
.arrow-icon{width:1.1rem;display:inline-block;vertical-align:middle;padding-right:0.5rem;}
.dian-icon{height:2rem;position:absolute;right:0%;top:1.4rem;}
/* 底部 */
.foot{position:fixed;bottom:0;left:0;background:#f0f0f0;padding:0.5rem 0;width:100%;z-index: 1000}
.foot-row{width:24.99%;float:left;}
.foot-bgicon{display: inline-block;background-repeat: no-repeat;background-size: 100% 100%;margin: 0.5rem auto 0.3rem auto;}
.foot-bgicon-1{background-image: url(../images/wallet-yellow.png);width: 2.8rem;height: 2.15rem;}
.foot-bgicon-2{background-image: url(../images/order.png);width: 2rem;height: 2.15rem;}
.foot-bgicon-3{background-image: url(../images/coupons.png);width: 2.4rem;height: 2.4rem;}
.foot-bgicon-4{background-image: url(../images/my.png);width: 2.2rem;height: 2.2rem;}
.foot-row a img{display:block;margin:0.5rem auto 0.5rem auto;;}
.foot-row a p{font-size:1.4rem;}
.foot-row .active{color: #ffde2b}
/* 客服*/
#dragCircle{position:fixed;left:80%;top:70%;width:4.25rem;z-index: 1001}
.service-tell{width:4.25rem;}
/* 首页*/
.logo-pack{display: flex;align-items: center;flex-direction: column;} /*2018-5-25 改 */
.logo{margin:5.5rem auto 2.5rem auto;overflow:hidden;}/*2018-5-25 改   */
/*@media only screen and (max-width:340px) {.logo{width:83%; min-width: 24rem;}}*/  /*2018-5-25 改 */
.logo img.logo-pic{width:9.0rem;float:left;}
.logo span{float:left;font-size:2rem;color:#a6a6a6;margin:0.8rem 1rem 0 1rem;vertical-align:middle;}
.replenishment{float:left;font-size:1.4rem;line-height:1.6rem;border:1px solid #a6a6a6;border-radius:25px;padding:1rem;font-weight: 600;}
.replenishment img{width:1.6rem;vertical-align:middle;padding-right:0.6rem;margin-top:-0.2rem;}
.kaimen-tip{font-size:1.4rem;line-height:2rem;}
.kaimen-bg{background:#fff;/*overflow:hidden*/;flex:1;min-height: 19rem}
.round-head{width:100%;margin-top:3.5rem;display:block;}
.kaimen-round{width:14rem;height:14rem;line-height:14rem;background:#ffde2b;font-size:2.2rem;border-radius:50%;margin:1.5rem auto 5rem auto;}
@media only screen and (max-width:320px) {
	.kaimen-bg{min-height: 17rem;}
	.kaimen-round{ width:12rem;  height:12rem;line-height: 12rem;  font-size:1.6rem;}
}
/* 2018-04-11 新增 */
.indexclose-icon{position:absolute;}
/* 2018-04-26 新增 */
.scroll-notice{width:92%;padding:0.5rem 4%;position:fixed;top:0;left:0;background:#fff8ce;}
.bulletin{width:23px;height:23px;vertical-align:middle;padding-right:0.5rem;}
.scroll-notice,.scroll-colum{height:23px;line-height:23px;overflow:hidden;}
.scroll-colum ul li a{color:#000000;}

/* 绑定成功 */
.iphone-success{padding:5.5rem 4%;}
.success-icon,.buy-successicon,.fanhui-btn,.button-icon,.open-btn,.noopen-btn,.order-details-list h4 span{display:inline-block;}
.success-icon{width:10.8rem;}
.buy-successicon{width:6.8rem;}
.iphone-success p{font-size:2rem;padding-top:2rem;}
.button-icon{height:4rem;font-size:1.6rem;line-height:4rem;border-radius:10px;width:92%;margin:0 4%;}
.check-btn,.open-btn{background:#ffde2b;}
.noopen-btn{background:#d7d7d7;}
.open-btn,.noopen-btn{width:49%;border-radius:10px;}
/* 绑定手机号  */
.iphone-wrap{width:92%;padding:3rem 4% 0 4%;}
.iphone-list{border:1px solid #959595;position:relative;border-radius:5px;padding:0.5rem 2%;line-height:2.5rem;position:relative;}
.ihpone-icon{width:2.5rem;height:2.5rem;vertical-align:middle;}
.iphone-list input{line-height:2.5rem;font-size:1.4rem;padding-left:0.5rem;}
.error-tips{height:1.6rem;line-height:1.6rem;color:#d03638;padding-left:4rem;font-size:1.2rem;}
.get-code{position:absolute;right:2%;top:0.5rem;background:#d7d7d7;padding:0.1rem 0.5rem;border-radius:5px;}
.code-icon{width:8rem;height:2.75rem;border:1px solid #d8d8d8;position:absolute;right:2%;top:0.3rem;}
/* 购买成功 */
.buy-success{width:92%;padding:5rem 4% 5rem 4%;}
.buy-success h4{font-size:1.7rem;font-weight:normal;padding:2rem 0 0.6rem 0;}
.buy-success p{color:#858585;font-size:1.2rem;line-height:2rem;}
.buy-quan{margin-bottom:4rem; }
.buy-quan-title,.footer-tips{position:relative;border-bottom:1px solid #dbdbdb;}
.buy-quan-title span,.footer-tips span{font-size:1.5rem;position:absolute;left:50%;top:-0.8rem;background:#fff;padding:0 1rem;margin-left:-4rem;}
.buy-quan-title span{color:#d1343f;}
.footer-tips span{color:#858585;background:#f0f0f0;}
.xianjin-quan{background:url(../images/xianjinquan.png) no-repeat;}
.manjian-quan{background:url(../images/manjianquan.png) no-repeat;}
.dikou-quan{background:url(../images/dikouquan.png) no-repeat;}
.mainfei-quan{background:url(../images/shopquan.png) no-repeat;}
.quan{background-size:100% 100%;width:18rem;height:8.5rem;margin:3rem auto 0 auto;/*display:flex;align-items:center;justify-content:center;*/}
.quan-contant{width:85%;margin:0 auto;color:#fff;-webkit-box:1;-webkit-flex:1;flex:1;align-items:center;padding-top:1rem;}
.quan-value{width:100%;display:-webkit-box;display:-webkit-flex;display:flex;font-size: 1.2rem;padding:0 0 0.5rem 0.8rem;}
.xianjin-quan .quan-value{border-bottom:1px dashed #b81e22;}
.manjian-quan .quan-value{border-bottom:1px dashed #0051a4;}
.dikou-quan .quan-value{border-bottom:1px dashed #a27a00;}
.mainfei-quan .quan-value{border-bottom:1px dashed #c524b8;}
.quan-value .of,.quan-value .of em,.quan-name{font-style:oblique;}
.quan-value .of{font-size:1.4rem;}
.quan-value .of em{font-size:3.8rem;}
.paddinglay{padding-left:1rem;}
.quan-name{font-size:2rem;}
.quan-use{background:#fff;padding:0 1.2rem;font-size:1rem;margin-top:0.1rem;}
.xianjin-quan .quan-use{color:#f03e3e;}
.manjian-quan .quan-use{color:#2f91f5;}
.dikou-quan .quan-use{color:#f4cc52;}
.mainfei-quan .quan-use{color:#fa89f1;}
.quan-tips{font-size:1.2rem;padding:0.5rem 0 0 0.8rem;}
.buy-avd{border-top:1rem solid #f0f0f0;width:92%;padding:0 4%;}
.buy-avd img{display:block;width:100%;height:9.75rem;border-radius:5px;}
.jifen-quan{width:18rem;height:4.8rem;background:#66c7ff;line-height:4.8rem;border-radius:50px;margin:3rem auto 0 auto;font-size:2rem;color:#fff;align-items:center;letter-spacing:1px;}
.jifen-icon{width:2.1rem;vertical-align:middle;}
/* 开机成功 */
.preferential-infor{width:85%;margin:3.5rem auto 0 auto;}
.preferential-infor p{font-size:1.5rem;line-height:2rem;}
/*  我的 */
.my-contant,.refund-infor,.refund-reason,.refund-pic-sm,.order-details-list{width:92%;padding:1.2rem 4%;}
.my-infor{background:#fff;box-shadow:0px 3px 5px rgba(0,0,0,.2);border-radius:5px;margin-bottom:1.2rem;}
.my-infor ul li{border-bottom: 1px solid #dbdbdb;line-height:2.5rem;padding:0.5rem 1rem;position:relative;}
.my-infor ul li:last-child {border-bottom:none;}
.my-infor ul li a{display:block;}
.my-infor ul li img{width:2.5rem;height:2.5rem;vertical-align:middle;padding-right: 0.5rem;margin-top:-0.5rem;}
.my-infor ul li span{font-size:1.4rem;color:#000;}
.my-infor ul li em{font-size:1.4rem;position:absolute;top:0.5rem;right:4%;}
.my-arrowicon{width:0.85rem!important;height:1.5rem!important;}
.eject{background:#000 url("about:blank") repeat scroll 0 0;left:0;opacity:0.6;filter:alpha(opacity=60);position:fixed;top:0;width:100%;z-index:1001;display:none;height:100%}
.popup-bg{position:fixed;left:50%;top:50%;z-index:1002;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);display:none; }
.popup-contant{background:#fff;border-radius:8px;width:25rem;margin:0 auto;padding-bottom:1.5rem;}
.popup-title{height:4.3rem;line-height:4.3rem;font-size:1.6rem;border-bottom:1px solid #dbdbdb;}
.popup-item{width:92%;padding:1.2rem 4% 0 4%;}
.real-name-li{line-height:3.6rem;}
.real-name-li span{font-size:1.4rem;width:6rem;float:left;display:inline-block;margin-right: -6.5rem}
.real-name-li .name-input,.certificate-check{padding-left:1rem;border:1px solid #959595;height:3.6rem;line-height:3.6rem;border-radius:5px;}
.real-name-error{height:1.6rem;margin-left:7rem;line-height:1.6rem;color:#d03638;font-size:1.1rem;display:block;}
.real-name-radio,.real-name-li .name-input,.certificate-check{display:inline-block;width:65%;margin-left:6.5rem;float:left;}
.name-radio{background:url(../images/radio.png) no-repeat center center;margin-right:1rem;background-size:100% 100%;width:2.1rem;height:2.1rem;cursor:pointer;text-align:center;float:left;overflow:hidden;display:block;}
.radioclass{opacity:0;cursor:pointer;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
.real-name-radio p{width:40%;float:left;height:2.5rem;line-height:2.5rem;font-size:1.4rem;}
.real-name-radio{margin-top:0.8rem;}
.on{background:url(../images/radio-hover.png) no-repeat center center;background-size:100% 100%;}
.certificate-check em{font-size:1.4rem;}
.popup-arrow{width:0.8rem;position:absolute;right:2%;top:1.5rem; }
.certificate-check-ul{display:none;border:1px solid #959595;border-radius:5px;position:absolute;top:3.8rem;left:6.8rem;width:68%;background:#fff;}
.certificate-check-ul li{height:3.5rem;line-height:3.5rem;border-bottom:1px solid #959595;padding-left:1rem;}
.certificate-check-ul li:last-child{border-bottom:none;}
.popop-infor-tip{font-size:1.2rem;color:#858585;line-height:2rem;}
/* 2018-04-12 新增 */
.indexclose-icon{position:absolute;right:2%;top:1rem;width:2.5rem;}
.avoidClose-pic{width:6.25rem;}
.avoidClose-pic,.noopen-icon{margin:2.5rem 0 1.2rem 0;}
.popup-txt,.refund-infor-title,.refund-reason h4{font-size:1.6rem;color:#000000;}
/* 2018-04-25 新增 */
.noopen-icon{width:3.9rem;height:3.9rem;}

/*404 500 错误页面 */
.pic404,.pic500{width:10rem;} /*2018-5-25改*/
.error-main p{font-size:1.6rem;padding:2rem 0;}
.fanhui-btn,.error-main p,.button-icon,.open-btn,.noopen-btn,.apply-button{color:#040000;font-weight:bold;}
.fanhui-btn{width:35%;padding:0.6rem 0rem;background:#ffde2b;font-size:1.4rem;border-radius:50px;}

/* 申请退款 */
.refund-infor-num{color:#858585;font-size:1.2rem;padding:1rem 0;}
.refund-infor-checkAll,.refund-infor-check,.shop-infor h4,.shop-pay-money,.shop-money-total,.refund-reason-tips,.refund-pic-sm h4,.order-title div,.order-main-listtitle h4,.order-main-listli h4,.order-main-total p,.apply-button,.iphonecode-tip,.order-main-listli p{font-size:1.4rem;color:#000;}
.refund-infor-checkAll i{font-size:1.2rem;color:#d03539;padding-left:0.8rem;}
.check-icon{width:1.9rem;vertical-align:top;margin-right:1rem;}
.mtline{border-top:9px solid #f0f0f0;}
.refund-list ul,.order-details-list{border-bottom:1px solid #dbdbdb;}
.refund-list ul li{border-bottom:1px solid #dbdbdb;margin:1.2rem 4% 0 4%;padding-bottom:1.2rem; }
.refund-list ul li:last-child{border-bottom:none;}
.refund-inforLi-flex{display:-webkit-box;display:-ms-flexbox;display:flex;}
.check-pic-flex{-webkit-box-flex:0;}
.shop-infor-flex{-webkit-box-flex:1;-ms-flex:1;flex:1;}
.shop-infor h4,.refund-reason h4,.refund-pic-sm h4,.order-main-listtitle h4,.order-main-listli h4,.order-details-list h4,.refund-infor-title{font-weight:normal;}
.shop-num{line-height:3rem;margin:0.7rem 0 0 0;}
.shop-num a,.add-shop-num,.add-shop-num span,.iphonecode-input span{display:inline-block;}
.add-shop-num{border:1px solid #c3c3c3;border-radius:5px;}
.add-shop-num span{color:#737373;width:2.2rem;}
.add-shop-num span,.add-shop-input{height:3rem;line-height:3rem;font-size:1.2rem;float:left;}
.add-shop-input{border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;color:#000;width:3rem;}
.shop-money-total{padding:0.8rem 4% 0 4rem;}
.shop-money-total span{color:#d03539;font-weight:bold;}
.refund-textarea{border:1px solid #9a9a9a;border-radius:5px;height:9rem;width:96%;margin-top:1rem;resize:none;padding:0.8rem 2%;}
.refund-reason-tips{position:absolute;bottom:1rem;right:1rem;}
.refund-pic-sm ul li{width:28%;float:left;border-radius:5px;border:1px solid #dbdbdb;padding:1.5%;margin:1rem 2% 1rem 0;height:8rem;line-height:8rem;text-align:center;}
.refund-pic-sm ul li:last-child{margin-right:0;}
.refund-pic-sm ul li img{width:100%;height:100%;display:inline-block;}
/* 订单列表 */
.order-titlebg{position:fixed;top:4.5rem;left:0;z-index:99;background:#fff;height:47px;border-bottom:1px solid #d6d6d6;/*overflow-x:scroll;*/width:100%;}  /*2018-5-25 改*/
.order-title{min-width:260px;height:47px;width:92%;}
.order-title div{float:left;height:45px;line-height:45px;width:25%;text-align:center;border-bottom:2px solid transparent;}
.order-title div.hover a{border-bottom:2px solid #ffde2b;display:inline-block;}
.order-box-main{min-height:400px;overflow-y:auto;}
#order-main-sel{min-height:260px;overflow-y:auto;width:auto;}
.order-main-li{display:none;float:left;margin:0 auto;width:100%;min-height:260px;overflow-y:auto;}
.don{display:block!important;}
.order-main-ab{margin-top:115px;width:100%;}
.order-main-list{background:#fff;padding:1.5rem 4%;}
.order-main-listtitle p,.order-details-list h4 span{color:#858585;font-size:1rem;}
.order-main-listtitle i,.order-complete-state{color:#d03539;font-size:1.2rem;}
.order-main-listtitle i{position:absolute;right:0;top:0;}
.order-main-listli{background:#f0f0f0;padding:1.5rem 1.2rem 1.2rem 1.2rem;margin-top:1rem;}
.order-main-listli p,.order-complete-state{padding-top:0.2rem;}
.order-main-listli-num,.order-details-discounts{color:#858585;font-size:1.4rem;}
.order-main-total p{text-align:right;padding:1.2rem 0;}
.apply-button{width:10rem;height:3.5rem;line-height:3.5rem;display:inline-block;border-radius:5px;}
.refund-btn{background:#d7d7d7;}
.look-btn{background:#ffde2b;}
.footer-tips {margin-top:2rem;}

/* 订单详情 */
.order-details-title{background:url(../images/order-details-bg.png) no-repeat center center;background-size:100% 100%;height:7.5rem;line-height:7.5rem;color:#fff;font-size:1.6rem;}
.order-details-title img{width:2.45rem;vertical-align:middle;}
.order-details-main{background:#fff;padding-bottom:1.2rem;}
.order-details-list h4{color:#000;font-size:1.2rem;}
.order-details-list h4 span,.order-details-discounts span{float:right;}
.order-details-discounts{padding-top:1.2rem;}
/* 注册手机号 */
.agreement-choose{width:92%;padding:0.8rem 4%;}
.agreement-check{width:1.85rem;height:1.85rem;vertical-align:middle;padding-right:0.5rem;}
.iphonecode-tip{padding-top:2.5rem;}
.iphonecode-input{overflow:hidden;padding:2.5rem 0 1.5rem 0;}
.iphonecode-input input{text-align:center;padding:0 1.2rem;width:1.5rem;height:4rem;line-height:4rem;border:1px solid #959595;border-radius:5px;margin:0 0.5rem;}

/* 2018-5-21优惠券列表 */
.coupon-title{display: flex;width: 100%;}
.coupon-title div{flex: 1;}
.coupon{margin-top: 6rem;width:100%;position: relative;}
.coupon li {display: none;}
.coupon-li {width: 100%;}
.coupon-wrap{margin-bottom: 1.3rem;}
.coupon-explain{width: 91%;margin: 0 auto;background-color: #ffffff;display: none;}
.coupon-explain p{padding: 1rem;font-size: 1rem;color: #404040;}
.coupon-bg{width: 91.5%; /*height: 30vw;*/margin: 0 auto;display: flex;position: relative;}
.coupon-bg-1{background: url("../images/coupon-1.png") no-repeat;background-size:100% 100%;}
.coupon-bg-2{background: url("../images/coupon-2.png") no-repeat;background-size:100% 100%;}
.coupon-bg-3{background: url("../images/coupon-3.png") no-repeat;background-size:100% 100%;}
.coupon-bg-4{background: url("../images/coupon-4.png") no-repeat;background-size:100% 100%;}
.coupon-desc{flex: none;position:relative;width: 72%;display: flex;align-items: center;}
.coupon-desc-p{padding: 5% 2% 5% 7%;width: 100%;box-sizing: border-box;}
.coupon-name{flex: none;width: 28%;color: #ffffff;text-align: center;display: flex;align-items: center;overflow: hidden}
.coupon-name-price{font-size: 2.8rem;font-weight: 400;}
.coupon-name-title{font-size: 2.5rem;font-weight: 400;}
.coupon-bg p{color: #404040;line-height: 1.875rem;width: 100%;overflow: hidden; /*white-space: nowrap;*/ /*word-break: keep-all;*/ /*text-overflow: ellipsis;*/font-size: 1rem;}
.coupon p>a,.opensuccess a{text-decoration: underline;color: #f03e3e;}
.coupon-disabled{position: absolute;left: 0;top: 0;bottom: 0;right: 0;background-image: url("../images/coupon-mask.png");background-repeat: no-repeat;-webkit-background-size: 100% 100%;background-size: 100% 100%;width: 100%;height: 100%;display: flex;align-items: center;}
.coupon-disabled img{width: 7.3rem;height: 7.3rem;margin-left: 58%;}
.coupon-down{position: absolute;right: 0.6rem;bottom: 0.6rem;}
.coupon-down img{width: 1.2rem;height: 1.2rem;}

/* 2018-5-21订单列表 */
.order-title div.hover a {color: #ffde2b;}
.order-main-total p>span{font-size: 1.6rem;}
.apply-button {width: 6.8rem;height: 2.7rem;line-height: 2.7rem;display: inline-block;border-radius: 5rem;background: #ffffff;margin-left: 0.83rem;font-size: 1.2rem}
.refund-btn {border: 1px solid #d34a4d;color: #d34a4d}
.look-btn {border: 1px solid #c1c1c1;color: #000000;}
.order-title div, .order-main-total p, .order-main-listtitle h4, .order-main-listli h4, .order-main-listli p,.refundrecord-main-listtitle h4,.refundrecord-infor-flex h4 {font-size: 1.2rem;color: #000;}
.apply-button {font-weight: normal;}
.order-main-listli {padding: 1rem;}
.order-main-list,.order-details-main  {border-radius: 5px;}
/* 2018-5-21订单详情 */
.order-details-main {margin: 1.5rem;}
.order-details-list {border-bottom: 0;}
.order-details-discounts {font-size: 1rem;}
.order-details-discounts {padding: 0.8rem 0.5rem 0 0.5rem;}
.shop-money{font-size: 1.2rem;color: #000000;}
.m-t1{margin-top: 1rem;}
.order-main-listli-num, .order-details-discounts {padding-top: 1rem;font-size: 1.2rem;}
.order-main-listli p>span,.refundrecord-main-listli p>span {padding-left: 1.25rem;text-decoration:line-through ;color: #858585;}
/* 2018-5-21申请退款 */
.refund,.refund-reason,.refund-pic-sm,.refund-money{background: #ffffff;margin: 1rem;border-radius: 5px;margin-top: 0;}
.refund-infor-title, .refund-reason h4 {font-weight: bold;font-size: 1.2rem;}
.refund-infor-num,.shop-num{font-size: 1rem;}
.check-icon {width: 1.8rem;vertical-align: middle;}
.refund-infor-checkAll,.shop-infor h4,.shop-pay-money{font-size: 1.2rem;}
.refund-list ul li {padding: 1rem;background-color: #f0f0f0;margin: 0px 4% 1rem 4%;}
.refund-list ul li:last-child{margin: 0px 4% 0rem 4%;}
.refund-list ul {border-bottom: 0;}
.refund-list ul li {border-bottom: none;}
.shop-money-total {padding: 0.8rem 4% 1.3rem 4.8rem;}
.shop-num {line-height: 2.58rem;}
.add-shop-num span, .add-shop-input {height: 2.58rem;line-height: 2.58rem;}
.refund-infor .m-l{margin-left: 3%;}
.shop-money-total span {font-weight: 400;}
.shop-money-total span>i,.refundrecord-main-total span {font-size: 1.6rem;}
.refund-money{height: 4.1rem;line-height: 4.1rem;padding-left: 4%;}
.refund-pic-sm,.refund-reason {width: auto;}
.button-icon {width: 94%;margin: 0 3%;}
/*退款记录列表*/
.refundrecord-box-main{min-height:400px;overflow-y:auto;}
#refundrecord-main-sel{min-height:260px;overflow-y:auto;width:auto;}
.refundrecord-main-li{display:none;float:left;margin:0 auto;width:100%;min-height:260px;overflow-y:auto;}
.refundrecord-main-ab{margin-top:115px;width:100%;}
.refundrecord-main-list{background:#fff;padding:1.5rem 4%;}
.refundrecord-main-listtitle p,.refundrecord-details-list h4 span{color:#858585;font-size:1rem;}
.refundrecord-main-listtitle i,.refundrecord-complete-state{color:#d03539;font-size:1.2rem;}
.refundrecord-main-listtitle i,.refundrecord-main-listtitle span{position:absolute;right:0;top:0;}
.refundrecord-main-listtitle span{color: #858585;font-size: 1rem;}
@media only screen and (max-width:410px) {.refundrecord-main-listtitle span{position: static}}
.refundrecord-main-listli{background:#f0f0f0;padding:1.5rem 1.2rem 1.2rem 1.2rem;margin-top:1rem;}
.refundrecord-main-listli p,.refundrecord-complete-state{padding-top:0.2rem;}
.refundrecord-main-listli-num,.refundrecord-details-discounts{color:#858585;font-size:1.4rem;}
.refundrecord-main-total p{text-align:right;padding:1.2rem 0;}
.refundrecord-main-listtitle h4,.refundrecord-main-listli h4 {font-weight: normal}
.refundrecord-inforLi-flex{display:-webkit-box;display:-ms-flexbox;display:flex;}
.refundrecord-infor-flex {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.totalprice{font-size: 1.6rem;}
/*退款记录详情*/
.refundrecord-details-main{margin: 1rem;border-radius: 5px;background: #fff;padding-bottom: 1.2rem;}
.refundrecord-details-list{padding: 1.2rem 4%;}
.refund-textarea{height:6.5rem;}
.refund-date {background: #fff8ce;font-size: 1.17rem;font-weight: normal;}
@media only screen and (max-width:320px) {  .order-main-total p, .refundrecord-main-total p {font-size: 1rem;} }
/*开门成功*/
.opensuccess{line-height: 2.1rem;}
.opensuccess-c1{color: #858585;}
.m-t0{margin-top: 0;}
.buy-successicon {width: 9.5rem;}
.opensuccess .btn{background-color: #ffde2b;color: #000;padding: 0rem 1rem;display: inline-block;text-decoration: inherit;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
/*本次上架明细*/
.shelf-details{background: #fff;border-radius: 8px;width: 90%;margin: 0 auto;padding-bottom: 1.5rem;}
.tab-top{margin: 1rem 1rem 0;}
.tab{margin: 0px 1rem 1rem; font-size: 1rem;max-height: 25rem;overflow-y: auto;}
.table {width: 100%;max-width: 100%;border-spacing: 0;border-collapse: collapse;}
.table-bordered {border: 1px solid #cecece; text-align:center;font-size: 1.1rem;}
.table>thead>tr>th {background-color: #ffde2b;width: 25%}
.table>thead>tr {border-left:1px solid #ffde2b;border-right:1px solid #ffde2b;}
.table>tbody>tr>td, .table>thead>tr>th{line-height: 1.42857;padding: 8px;vertical-align: middle;}
.table>tbody>tr>td{border-top: 1px solid #cecece;width: 25%;}
.table>tbody>tr>td div{height: 3rem;overflow: hidden;}
.table>tbody>tr:nth-of-type(odd) {background-color: #ebebeb;}
/*我的历史补货单*/
.m-h-r-o-main{margin: 1rem 2rem;background-color: #ffffff;padding: 1rem 2rem;border-radius: 8px;}
.m-h-r-o-main p{line-height: 2rem}
.m-h-r-o-main a{color: #d34a4d; text-decoration:underline }
/*联系客服*/
.check-btn-e1 {background: #e1e1e1;}
.popup-bg-1{position:fixed;left:0;top: 0;bottom: 0;right: 0;justify-content: center;align-items: center;z-index:1002;display:none;background:rgba(0,0,0,.6) }

/*授权页面*/
.cells{background-color: #FFFFFF;line-height: 1.47058824;font-size: 17px;overflow: hidden;}
.cell{padding: 8px 15px;position: relative;display: flex}
.cell:before{content: '';position: absolute;top: 0;right: 0;left: 0;border-top:1px solid #e5e5e5;left: 15px;}
.cell:first-child:before{border-top: 0px;}
.cell-label{width: 105px;display: block;line-height: 30px;}
.cell-btn {position: relative;display: block;margin-left: auto;margin-right: auto;padding-left: 14px;padding-right: 14px;box-sizing: border-box;font-size: 18px;text-align: center;text-decoration: none;color: #FFFFFF;line-height: 2.55555556;border-radius: 5px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);overflow: hidden;}
.cell-btn_primary {background-color: #14489d;}
.authorize {background-color: #f8f8f8;}
.page-hd{padding-top: 2rem;}
.page__bd_spacing {padding: 0 15px;}
.cell-btn + .cell-btn {margin-top: 15px;}
.cell-btn_plain-disabled {color: #383838;background-color: #ffffff;border: 1px solid rgba(0, 0, 0, 0.2);}
.cell-bd input{line-height: 30px;font-size: 1.6px;}

/*上下架清单*/
.listing{width:100%;padding: 0 .9rem;margin: .9rem 0 5.5rem 0;box-sizing: border-box;}
.listing-pack{width:100%;background-color: #FFFFFF;border-radius: .5rem;overflow: hidden;}
.listing-menu{width: 100%;border-bottom: 1px solid #ffde2b;display: flex;justify-content: space-around;}
.listing-menu a{display: inline-block;text-align: center;flex: 1;color: #6d6d6d;height: 3.54rem;line-height: 3.54rem;}
.listing-menu a.active{color: #000000;background-color: #ffde2b}
.listing-list{width: 100%;}
.listing-list li{border-bottom: 1px solid #e4e4e4;}
.listing-list li:last-child{border-bottom: 0;}
.listing-item{width: 100%;box-sizing: border-box;padding: 1rem;display: flex;align-items: center;justify-content: space-between;overflow: hidden;font-size:1.3rem;}
.listing-item img{width:3.75rem;height:3.75rem;border: 1px solid #e4e4e4;border-radius: .5rem;}
.listing-item-title{display: inline-block;flex: 2;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin: 0 1rem;}
.listing-list.none{display: none;}
.list-fixed{position: fixed;left: 0;bottom: 0;width: 100%;height: 4.67rem;line-height: 4.67rem;background-color: #fff;border-top: 1px solid #dcdcdc;font-size: 1.5rem; text-align: center;}
.list-fixed em{color:#d03539; }

/*响应式布局*/
@media only screen and (max-width:375px) {
	.buy-success{padding:3rem 4% 2rem 4%;}
}
@media only screen and (max-width:320px) {
	.buy-success{padding:2rem 4% 2rem 4%;}
}
