
@charset "utf-8";
.bd a{display:block;width:100%;height:100%;}
.banner-content{position:relative;padding-bottom:37px }
.hd{background:#fff;border:1px solid #eaeaea;box-shadow:2px 2px 10px #eaeaea;padding-top:13px;position:absolute;bottom:0px;padding-right:13px;left:50%;}
.hd ul li{float:left;margin-left:13px;width:151px;position:relative;}
.hd ul li p{color:#484848;font-size:16px;text-align:center;line-height:35px;overflow:hidden;height:35px;text-overflow: ellipsis;white-space: nowrap;}
.hd ul li img{display:block;width:151px;height:77px;}
.hd ul li.on span{display:block;position:absolute;width:151px;height:77px;left:0;top:0; filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;background:#000}
.title{width:100%;border-bottom:1px solid #eeeeee;text-align:center;margin-top:55px;padding-bottom:15px;}
.title-container{font-size:50px;color:#1c91ff;height:60px;line-height:60px;}
.title-container a{color:#ffffff;font-size:14px;font-weight:normal;width:102px;height:20px;text-align:center;line-height:20px;background:#f0a411;display:block;position:relative;bottom:-5px;margin:auto}
.title-picul{position:relative;margin-top:50px}
.title-picul ul{overflow:hidden}
.title-picul ul li{position:relative;float:left;width:372px;border:1px solid #e6e6e6;padding-bottom:10px;margin-right:39px;background:#fafafa}
.title-picul ul li img{display:block}
.title-picul ul li h2{padding:20px 10px 7px 10px;overflow:hidden;height:24px;line-height:24px;position:relative}
.title-picul ul li h2 a{color:#454545;font-size:18px;font-weight:normal;text-overflow: ellipsis;white-space: nowrap;display:block;overflow:hidden}
.title-picul ul li h2 em{font-weight:normal;font-size:14px;color:#b0b0b0;position:absolute;right:0;top:0}
.title-picul ul li p{color:#b0b0b0;font-size:14px;padding:0 10px;height:40px;overflow:hidden}
.title-picul ul li p a{color:#ff9c1c}
.title-picul ul li em.wfdate{display:block;border:1px solid #d6d6d6;border-radius:3px;background:#fafafa;width:66px;text-align:center;color:#454545;font-size:14px;position:absolute;left:10px;bottom:8px;}
.title-picul ul li em.wfdate span{display:block;background:#dbdbdb;color:#fff;line-height:22px;}
.left-icon{position:absolute;background:url(../images/leftright-icon.png) no-repeat -2px 0;width:56px;height:56px;top:100px;left:0;cursor:pointer;z-index:3}
.right-icon{position:absolute;background:url(../images/leftright-icon.png) no-repeat -152px 0;width:56px;height:56px;top:100px;right:0;cursor:pointer;z-index:3}
.culture-container{padding-top:45px;}
.culture{background:#f2f2f2;padding-top:50px;margin-top:70px;padding-bottom:70px;}
.culture .title{margin:0}
.culture-container h2{color:#404040;font-size:20px;font-weight:normal;padding-bottom:15px;}
.culture-container h2 span{color:#949494;font-size:18px;}
.culture-left{width:875px;}
.culture-sun{border:1px solid #eaeaea;background:#fff;position:relative}
.culture-position{position:absolute;top:100px;left:175px;}
.culture-more{width:405px;padding:0 20px}
.culture-more p{color:#949494;font-size:14px;line-height:25px;padding-top:40px;height:175px;overflow:hidden}
.culture-more p span{color:#e31515}
.culture-more a{color:#e31515;font-size:18px;}
.culture-right{width:287px;}
.staff{position:relative;}
.staff-left{background:url(../images/staff.png) no-repeat;width:44px;height:44px;position:absolute;top:120px;left:5px;cursor:pointer;z-index: 2}
.staff-right{background:url(../images/staff.png) no-repeat -47px 0;width:44px;height:44px;position:absolute;top:120px;right:5px;cursor:pointer;z-index: 2}
.culture-rightsun{width:285px;border:1px solid #eaeaea;background:#fff;position:relative}
.culture-rightsun p{color:#fff;font-size:14px;padding:0px 20px;height:40px;overflow:hidden;position:absolute;left:0;bottom:10px;width:245px;z-index:6}
.culture-rightsun p.culture-bg{background: #000 url("about:blank") repeat scroll 0 0;left: 0;opacity: 0.3;filter:alpha(opacity=30); position:absolute;bottom:0;width:245px;z-index:4;padding:10px 20px;}
.chanye{background:url(../images/chanye.jpg?20180119) no-repeat center center;width:100%;height:700px;}
.chanye-content{position:relative;height:227px;overflow:hidden;padding-top:200px;}
.chanye1{position:absolute;left:95px;top:195px;}
.chanye2{position:absolute;left:433px;top:195px;}
.chanye3{position:absolute;left:772px;top:195px;}
.chanye4{position:absolute;left:264px;top:365px;}
.chanye5{position:absolute;left:602px;top:365px;}
.chanye-content span{display:block;}
.chanye-list{overflow:hidden;}
.chanye-list li{float:left;cursor:pointer;height:227px;width:164px;color:#fff;text-align:center;}
.chanye-list li.hover{}
.chanye-list li.hover div{display:none;}
.chanye-list li img{display:none}
.chanye-list li.hover img{display:block}
.chanye-list li h2{font-size:21px;font-weight:normal;padding-top:95px;}
.chanye-list li p{font-size:12px;}
.chanye-list li div{height:227px;}
.chanye-pic2{background:#e4616a;}
.chanye-pic{background:#64cdf0;}
.chanye-pic1{background:#6dabdd;}
.chanye-pic3{background:#229be0;}
.chanye-pic4{background:#46c2a5;}
.chanye-pic5{background:#f5cd49;}
/* 党建活动 */
.ab_ban{background:url(../images/ab_ban.jpg) no-repeat center center;width:100%;height:168px;}
.ab_top{overflow:hidden;padding-top:40px;}
.ab_tp_lf{width:400px;float:left;line-height:22px;font-size:14px;color:#aeaeae;margin-top:20px;}
.ab_icon{background:url(../images/ab_img.png) no-repeat;display:block;float:left;}
.ab_address{width:16px;height:21px;background-position:-1px -1px;margin:1px 5px 0px 0px;}
.ab_tp_lf a{color:#258beb;}
.ab_tp_rg{float:right;max-width:784px;overflow:hidden;background:#fff;border-top:1px solid #dbdbdb;border-left:1px solid #dbdbdb}
.ab_tp_rg ul li{height:62px;line-height:62px;border-right:1px solid #dbdbdb;width:195px;float:left;text-align:center;}
.ab_tp_rg ul li a{color:#454545;font-size:18px;display:block;}
.ab_tp_rg ul li a.hover,.ab_tp_rg ul li a:hover{color:#fff;background:#258beb}
.title01{}
.ab_bg{background:#fff;border:1px solid #dddddd;padding:42px 33px;width:1132px;margin:0px auto 40px auto;}
.ab_intro{height:528px;position:relative;}
.ab_intro img{height:528px;display:block;overflow:hidden;}
.ab_intro_txt{position:absolute;bottom:0;background:rgba(0,0,0,.34);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#5F000000,endcolorstr=#5F000000);padding:25px 38px 8px 38px;width:1057px;}
.ab_intro_title{font-size:18px;color:#fff;overflow:hidden;padding-bottom:15px;}
.ab_intro_title a{float:left;width:600px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;}
.ab_intro_title span{widows:300px;float:right;}
.ab_intro_p{color:#fff;font-size:14px;line-height:24px;}
.ab_intro_link{height:28px;width:28px;background-position:-1px -34px;float:right;margin-top:8px;}
.dj_content{overflow:hidden;}
.dj_title{text-align:center;font-size:28px;color:#258beb;padding:20px 0;}
.dj_active_list ul{overflow:hidden;}
.dj_active_list ul li{width:348px;margin:0px 44px 45px 0px;background:#fafafa;float:left;}
.dj_list_pic img{width:348px;height:188px;display:block;overflow:hidden;}
.dj_active_txt{overflow:hidden;height:100px;border:1px solid #efefef;padding:15px 10px 10px 10px;}
.dj_active_list ul li h4{font-size:18px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:24px;padding-bottom:6px;}
.dj_active_list ul li h4 a{diplay:block;font-weight:normal;color:#454545;}
.dj_active_list ul li p{line-height:22px;max-height:45px;}
.dj_list_date,.dj_active_list ul li p,.dj_list_date span{font-size:14px;color:#b0b0b0;overflow:hidden;}
.dj_list_date{padding-top:6px;}
.dj_list_link{width:16px;height:16px;float:right;background-position:-1px -73px;}
/* 互公益 */
.bendfit_step{background:#f6f6f6;overflow:hidden;padding:30px 0px 45px 0px;text-align:center;}
.benefit_title{padding-bottom:20px;font-size:26px;color:#258beb;}
/* 集团介绍*/
.company_rg{overflow:hidden;width:707px;float:right;background:url(../images/title_bg01.png) no-repeat;padding:0px 33px 0px 45px;}
.company_rg ul li{float:left;font-size:16px;height:62px;line-height:62px;}
.company_rg ul li a{color:#454545;display:block;padding:0 10px;*padding:0 8px;}
.company_rg ul li a:hover{color:#258beb;}
.company_rg ul li.current a{color:#258beb;}
.company_content,.president_content{overflow:hidden;}
.company_content_lf{width:520px;float:left;padding-top:50px;}
.company_content_lf img{border:2px solid #e3e3e3;}
.company_content_lf p,.company_content_rg p{color:#454545;font-size:16px;line-height:26px;padding-top:35px;}
.company_content_rg{width:530px;float:left;padding-left:40px;padding-top:22px;}
.company_content_rg p{width:520px;}
.company_content_pic{overflow:hidden;padding-top:25px;}
.company_content_pic li{float:left;margin-right:10px;width:166px;height:166px;overflow:hidden;border:2px solid #e3e3e3}
.company_content_pic li img{transition:transform 1.5s ease-in-out;-moz-transition:transform 1.5s ease-in-out; -o-transition:transform 1.5s ease-in-out;-webkit-transition:transform 1.5s ease-in-out;-ms-transition:transform 1.5s ease-in-out;}
.company_content_pic li img:hover{transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-webkit-transform:scale(1.2);-ms-transform:scale(1.2);}
.jtan-pic{position:relative;margin-top:-42px;margin-left:-32px;}
.company_contentend{color:#454545;font-size:16px;line-height:26px;padding-top:35px;}
/*董事长致辞*/
.president_content_lf{width:656px;float:left;}
.president_content_lf p{font-size:16px;color:#454545;padding-top:32px;line-height:24px;}
.president_content_lf h5{font-weight:normal;font-size:16px;color:#454545;text-align:right;}
.president_content_rg{width:447px;float:right;}
.honor_content{margin-top:55px;}
.honor_ab_wrap{padding-top:20px;}
#img-slider .slide{width:100%;background:#fff;position:absolute;}
#img-slider .slide .img{margin:10px auto;border:none;}
#img-slider .img{border:1px solid #d9d9d9;background:#fff;width:390px;height:290px;position:relative;padding:10px;}
#img-slider .img img{display:block;width:100%;}
#img-slider .img .label{background:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);padding:2.5% 0;position:absolute;bottom:0;left:0;right:0;text-align:center;color:#fff;font-size:150%;}
#img-slider .img:first-child{display:block;}
.switcher-wrap{position:relative;padding-left:80px;padding-right:80px;}
.switcher-wrap.slider{padding-left:220px;padding-right:220px;}
.switcher-wrap.slider #img-slider .img{border-color:#d9d9d9;}
.switcher-wrap a.next,.switcher-wrap a.prev{position:absolute;width:35px;height:60px;top:50%;margin-top:-22px;bottom:0;left:0;background: url(../images/honor_prev.png) no-repeat;z-index:1000;}
.switcher-wrap a.prev{right:0;left:auto;background-position:-1px -70px;}
/* 组织结构 */
.organization_pic{display:block;text-align:center;}
/* 团队介绍 */
.team_meng{position:relative;height:472px;overflow:hidden;}
.team_content{position:absolute;right:78px;top:100px;background:#fff;width:523px;padding:32px 22px;}
.team_content h4{font-size:30px;color:#258beb;border-bottom:1px dashed #d7d7d7;font-weight:normal;line-height:35px;padding-bottom:10px;margin-bottom:10px;}
.team_content p{font-size:16px;color:#454545;line-height:30px;overflow:hidden;}
.team_content i{background:#e3e3e3;width:6px;height:6px;border-radius:50%;display:inline-block;float:left;margin:12px 10px 0px 0px;}
.team_content em,.team_content span{width:260px;display:inline-block;overflow:hidden;}
.team_content b{float:left;display:inline-block;font-weight:normal;width:507px;}
.team_member ul li{width:545px;height:269px;overflow:hidden;float:left;margin:50px 42px 0px 0px;background:#f8f8f8;}
.team_member ul li img{float:left;width:196px;overflow:hidden;padding-right:20px;}
.team_member_txt{padding:20px 5px 20px 0px;}
.team_member_txt h4{font-size:24px;color:#454545;line-height:26px;font-weight:normal;padding-bottom:20px;}
.team_member_txt p{color:#777676;font-size:16px;line-height:26px;}
/* 人文文化 */
.cultural_content p{font-size:16px;color:#454545;line-height:30px;}
.cultural_content img{float:left;width:585px;height:498px;margin:15px 20px 0px 0px;}
/* 资质荣誉 */
.qualification_content{display:none;}
.list li{float:left;width:354px;text-align:center;margin:0px 35px 45px 0px;overflow:hidden;}
.quanlification_pic{padding:13px;border:1px solid #ebebeb;display:block;}
.quanlification_pic img{display:block;width:326px;height:246px;overflow:hidden;}
.quanlification_txt{font-size:16px;color:#454545;line-height:26px;padding-top:8px;}
.qualification_more{text-align:center;}
.qualification_more a{display:inline-block;width:411px;height:60px;line-height:60px;font-size:22px;background:#eeeeee;color:#258beb;border-radius:5px;}

/* 网站地图 */
.sitemap_list{overflow:hidden;margin-bottom:65px;}
.sitemap_list h4{font-size:26px;line-height:26px;font-weight:normal;padding-bottom:10px;}
.sitemap_list h4 a{color:#258beb;}
.rg_line{background:url(../images/sitemap_line.png) no-repeat center right;width:1px;height:17px;}
.sitemap_a{font-size:18px;color:#454545;line-height:26px;padding:0 25px;}
.sitemap_a:hover{color:#f74d4d;}
/* 新闻中心详情页 */
.news_link{overflow:hidden;padding-bottom:10px;}
.news_link a{float:right;display:inline-block;text-align:center;width:56px;height:23px;line-height:23px;color:#b8b8b8;border-radius:5px;border:1px solid #c4c4c4;margin-left:5px;}
.news_link a.hover,.news_link a:hover{border:1px solid #258beb;color:#258beb;}
.news_title{text-align:center;border-bottom:1px solid #e3e3e3;overflow:hidden;padding-bottom:15px;position:relative}
.news_title h4{font-size:28px;color:#454545;line-height:30px;font-weight:normal;padding-bottom:12px;}
.news_title h5{font-size:18px;color:#aeaeae;line-height:30px;font-weight:normal;}
.news_content p{font-size:16px;line-height:30px;color:#454545;padding-top:30px;text-indent:2em;}
#comein{color:#258beb;font-size:14px;border:1px solid #258beb;position:absolute;right:0;width:118px;height:32px;line-height:32px;text-align:center;display:block;border-radius:5px;top:4px}
.company-detail{font-size:16px;color:#454545;line-height:35px;padding:20px 0 0 0}
.company-detail p{text-indent:2em}
/* 联系我们 */
.contact_map img{display:block;}
.contact_title{color:#258beb;font-size:22px;line-height:45px;border-bottom:1px solid #e8e8e8;font-weight:normal;margin:25px 0px;}
.contact_title span{width:4px;height:22px;line-height:22px;background:#258beb;display:block;margin:12px 9px 0px 0px;float:left;}
.contact_lf{width:410px;float:left;padding-right:50px;border-right:1px solid #e8e8e8;}
.contact_lf,.contact_rg{font-size:16px;color:#454545;line-height:30px;}
.contact_lf i,.contact_rg i{float:left;width:80px;}
.contact_lf span{float:left;width:330px;}
.contact_rg{float:right;width:618px;}
.contact_rg span{float:left;width:538px;}
/* 员工福利 */
.welfare_content img{margin:auto;display:block;}
.welfare_intro{width:1005px;margin:0 auto;}
.welfare_txt{background:#f4f4f4;padding:20px;font-size:16px;line-height:24px;color:#454545;display:none;}
.welfare_btn{text-align:center;position:relative;display:block;top:-45px;}
.ab_bgpic{position:absolute;top: 325px;left: 505px}
/* 人才战略 */
.tactic_intro{background:url(../images/tactic_bg.jpg) no-repeat center -32px;width:1089px;height:194px;margin:auto}
.tactic_btn{text-align:center;position:relative;display:block;top:-100px;}
.tactic_txt{background:#6eb9ff;width:800px;margin:auto;padding:20px;border-radius:5px;font-size:16px;color:#fff;line-height:24px;margin-top:-40px;display:none;}
/* 子雨产业 */
.industry_a{height:62px;line-height:62px;float:right;font-size:20px;color:#258beb;}
.industry_title{text-align:center;margin-bottom:15px;}
.industry_list ul,.joinus_content,.joinus_title_top{overflow:hidden;}
.industry_list ul li{float:left;width:353px;margin-right:34px;padding-bottom:27px;}
.industry_txt{color:#fff;}
.industry_pic img{border:2px solid #f1f1f1;cursor:pointer}
.industry_txt h5{text-align:center;background:url(../images/detail1.jpg) no-repeat center 53px;padding:20px 0;line-height:20px;}
.industry_txt h5 a{color:#5a5a5a;font-size:18px;font-weight:normal;display:block;height:20px;overflow:hidden}
.industry_link{width:28px;height:28px;background-position:-1px -34px;float:none;margin:15px 0px 20px 0px;}
.industry_txt p{overflow:hidden;font-size:12px;line-height:20px;color:#9b9b9b;height:40px;margin-top:5px;}
.industry_detail{display:block;margin:auto;border:1px solid #9b9b9b;width:82px;height:23px;background:url(../images/detail2.jpg) no-repeat center center;margin-top:27px;}
a.industry_detail:hover{background:url(../images/detail3.png) no-repeat center center #f74d4d;border:1px solid #f74d4d}
/* 加入我们 */
.joinus_list{margin-bottom:30px;overflow:hidden;}
.joinus_lf{width:695px;padding-right:60px;float:left;border-right:1px solid #e9e9e9;}
.joinus_title{background:#f0f9ff;border-bottom:2px solid #258beb;padding:20px 15px;}
.joinus_title_top h4{font-size:22px;color:#258beb;font-weight:normal;width:509px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;}
.address_icon{width:14px;height:26px;background-position:-1px -98px;margin:3px 10px 0px 0px;}
.joinus_address{font-size:16px;color:#aeaeae;}
.joinus_btn img{margin-top:6px;display:block;}
.joinus_title p{font-size:16px;color:#454545;line-height:24px;padding-top:8px;}
.joinus_txt{padding:0 15px;display:none;}
.joinus_txt h4{font-size:18px;color:#454545;font-weight:normal;padding:30px 0px 15px 0px;}
.joinus_txt p{color:#aeaeae;font-size:16px;line-height:30px;}
.joinus_rg{width:331px;float:right;}
/*  企业文化  */
.wfculture-left{width:542px;}
.wfculture-content{padding-left:35px;width:470px;}
.wfculture-content h2{font-size:20px;font-weight:normal;padding:20px 0;}
.wfculture-content h2.yellow{color:#fba848;}
.wfculture-content h2.blue{color:#258beb;}
.wfculture-content h2.red{color:#d11d1d;}
.wfculture-content p{color:#454545;font-size:16px;line-height:25px;}
.wfculture-right img.img-position{position:absolute;top:50%;display:block;margin-top:-10px;}
.wfculture-right{position:relative;width:590px;margin-top:25px;}
.wfculture-right img.img-responsive{display:block;margin-left:8px;}
.album{background:#fff;border:1px solid #dcdcdc;margin:-30px auto 20px auto;width:1166px;padding:16px 16px 32px 16px;}
.album ul{overflow:hidden;}
.album ul li img{width:163px;display:block;height:163px;}
.album ul li{position:relative;padding:5px;width:163px;border:1px solid #dcdcdc;float:left;margin-left:16px;margin-top:16px;}
.album ul li a,.album ul li span,.album ul li em{display:block;}
.album ul li span{height:39px;line-height:39px;color:#454545;overflow:hidden;text-align:center;font-size:16px;}
.album ul li em{position:absolute;bottom:50px;right:15px;font-size:32px;color:#fff;font-weight:normal;}
/* 相册 */
#eject{background: #000 url("about:blank") repeat scroll 0 0;left: 0;opacity: 0.7;filter:alpha(opacity=70); position: fixed;top: 0;width: 100%;height:100%;z-index: 1001;display:none;min-width:1200px;}
.album-picright{padding-left:15px;width:650px;}
.album-picright h2{font-size:18px;font-weight:normal;color:#4e4e4e;padding:8px 0;}
.album-picright h2 span{font-size:14px;color:#9a9a9a;padding-left:15px}
.album-picright p{line-height:25px;color:#9a9a9a;font-size:14px;max-height:120px;overflow:hidden;}
.album-picontent{background:#F2F2F2;margin-top:20px;padding-top:23px;}
.album-picontent ul{overflow:hidden;margin-bottom:20px;*padding-bottom:23px;}
.album-picontent ul li{float:left;background:#fff;width:160px;border:1px solid #dcdcdc;margin-left:23px;margin-bottom:23px;height:154px;}
.album-picontent ul li p{height:30px;line-height:30px;text-align:center;overflow:hidden;color:#454545;font-size:14px;}
.picpop-pic{position:relative;width:1140px;}
.picpop-picleft{background:url(../images/bgleft.png) no-repeat;width:40px;height:68px;position:absolute;left:0;top:50%;cursor:pointer;}
.picpop-picleft1{background:url(../images/bgleft1.png) no-repeat;cursor:inherit;}
.picpop-picright{background:url(../images/bgright.png) no-repeat;width:40px;height:68px;position:absolute;right:0;top:50%;cursor:pointer;}
.picpop-picright1{background:url(../images/bgright1.png) no-repeat;cursor:inherit;}
.picpop-picmid img{display:block;margin:auto;max-width:1000px;max-height:560px;}
.picpop{position:fixed;z-index:1023;left:10%;top:10%;visibility:hidden;*width:1140px;}
.picpopp{visibility:visible;}
.picpop-picmid{width:1000px;height:500px;margin:auto;overflow:hidden}
.picpop-picsun{position:relative;}
.picpop-picsunleft{background:url(../images/smleft.png) no-repeat;width:15px;height:30px;position:absolute;left:0px;top:30px;cursor:pointer;}
.picpop-picsunlt{background:url(../images/smleft1.png) no-repeat;cursor:inherit;}
.picpop-picsunright{background:url(../images/smright.png) no-repeat;width:15px;height:30px;position:absolute;right:0px;top:30px;cursor:pointer;}
.picpop-picsunrt{background:url(../images/smright1.png) no-repeat;cursor:inherit;}
.picpop-picsunmid{width:1000px;overflow:hidden;margin:auto;}
.picpop-picsunmid ul{overflow:hidden;height:90px;}
.picpop-picsunmid ul li{float:left;padding:5px;}
.picpop-picsunmid ul li img{display:block}
.picpop-picsunmid ul li.hover{padding:0;border:5px solid #2446FF;}
.picpnum{font-size:16px;color:#fff;padding-bottom:20px;}
.wfclose{background:url(../images/wfclose.png) no-repeat;width:59px;height:58px;position:absolute;right:0;top:0;cursor:pointer}
/* 法律法规    */
.legal{width:100%;background:#f4f4f4;padding-bottom:40px;}
.legal-title{line-height:45px;margin-top:0}
.legal-title .ab_address{margin-top:11px;}
.legal-content{border:1px solid #dbdbdb;background:#fff;padding:30px;width:1138px;margin:auto}
.legal-container{}
.legal-container h2{color:#258beb;font-size:24px;font-weight:normal;position:relative;padding-left:40px;height:34px;line-height:34px;;margin:20px 0 10px 0}
.legal-container h2 span{background:url(../images/legal-bg.jpg) no-repeat;display:block;width:28px;height:28px;text-align:center;line-height:28px;color:#fff;position:absolute;left:0;top:3px;font-size:20px;}
.legal-container p{color:#454545;font-size:16px;line-height:30px}
/*   发展历程    */
.dev-contentbg{background:url(../images/dev-bg.jpg) repeat-y;width:100%;}
.dev-btn{position:relative;text-align:center;background:#fff;color:#ac2eb1;font-size:20px;padding-top:20px;margin-top:30px;}
.dev-left{width:556px;float:left}
.dev{overflow:hidden;margin-top:10px;}

.dev-left span{float:right}
.dev-left p{float:right;text-align:right}
.dev-left span,.dev-right span{display:block;background:#f3f3f3;color:#aeaeae;font-size:18px;width:148px;text-align:center;line-height:40px;height:40px;}
.dev-left p,.dev-right p{color:#454545;font-size:16px;line-height:30px;width:92%;padding:0 3%}
.dev-right{float:left;width:556px;}
.dev-btn1{color:#258beb}
.dev-btn2{color:#ef9d00}
.dev-btn3{color:#e82323}
.dev-btn span,.dev-btn1 span,.dev-btn2 span,.dev-btn3 span{background:url(../images/iconte.png) no-repeat 0 -25px #ac2eb1;width:17px;height:17px;border-radius:50%;display:block;position:absolute;left:549px;top:0;cursor:pointer}
.dev-btn1 span{background-color:#258beb}
.dev-btn2 span{background-color:#ef9d00}
.dev-btn3 span{background-color:#e82323}
.dev-btn span.hover,.dev-btn1 span.hover,.dev-btn2 span.hover,.dev-btn3 span.hover{background-position:0 0;}
.wfcontactus{background:url(../images/wfcontactus.jpg) no-repeat;}
.employee{background:url(../images/employee.jpg) no-repeat;}
.commonweal{background:url(../images/commonweal.jpg) no-repeat;}
.industry{background:url(../images/industry.jpg) no-repeat;}
.statements{background:url(../images/statements.jpg) no-repeat;}
.group{background:url(../images/group.jpg) no-repeat;}
.wfmap{background:url(../images/wfmap.jpg) no-repeat;}